
/* Selector de tipos */
:root{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;

}
.gallery{
    width: 300px;
    margin: 40px;
    border: 2px solid #ddd;
    padding: 8px;
    
}
.gallery img{
    width: 100%;
    height: auto;
    opacity: 0.5;
}

.container-Gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
    
}
.gallery:hover{
    border: 2px solid rgb(94, 92, 92);
    
}
.gallery img:hover{
    transition: 0.8s;
    opacity: 1;
}














